/* General default fonts */

@font-face {
   font-family: monospace;
   src: local('Menlo');
}

@font-face {
   font-family: serif;
   src: local('Georgia');
}

/* reddit */

/* no grippy */
.listing-chooser.initialized {
  display: none;
}
