/* General default fonts */

@font-face {
  font-family: monospace;
  src: local('Menlo');
}

@font-face {
  font-family: serif;
  src: local('Georgia');
}

/* make tabs look better */
pre {
  tab-size: 4 !important;
}

/* github-specific */
/* https://github.com/sindresorhus/tab-size-on-github/blob/master/content.css */
.tab-size[data-tab-size='2'],
.tab-size[data-tab-size='4'],
.tab-size[data-tab-size='8'],
.inline-review-comment,
.gist table.lines,
table.diff-table,
.markdown-body pre {
  tab-size: 4 !important;
}

/* reddit */

/* no grippy */
.listing-chooser.initialized {
  display: none;
}
